.userData {
    margin-bottom: 5px;
}

.editCard {
    background-color: #001b29;
    text-align: center;
    border-radius: 8px;
    width: 300px;
    margin: 6px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

p.count {
    text-align: left;
}

@media only screen and (max-width: 800px) {
    .editCard {
        width: 90%;
    }
}
