#wrapper {
    width: 50%;
    margin-top: 4%;
    margin-left: 2%;
    background-color: #001b29;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}