.error {
    background-color: #00141f;
    padding: 6px;
    height: 20px;
    margin-bottom: 12px;
    border-radius: 8px;
    
}

.fade-out {
    opacity: 0;
    background-color: rgb(147, 36, 36);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: opacity 250ms linear 1s;
}
