.rank-container {
    height: 80vh;
    width: 50%;
    margin: 30px auto;
    overflow: hidden;
}

.list {
    height: 80vh;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.card {
    background-color: #062433;
    padding: 19px;
    height: 45px;
    margin: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.avatar {
    background-color: #558ca5;
    height: 45px;
    display: flex;
    width: 45px;
    border-radius: 50%;
    margin-right: 1rem;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.name {
    font-size: large;
    font-weight: 700;
}

p {
    padding: 3px;
}
.medal {
    display: none;
    height: 30px;
    margin-left: auto;
}

.list .card:first-child .medal{
    display: block;
    color: gold;
}

.list .card:nth-child(2) .medal{
    display: block;
    color: silver;
}

.list .card:nth-child(3) .medal{
    display: block;
    color: rgb(217, 168, 7);
}


