.carousel-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.carousel {
    width: 512px;
    height: 512px;
    border-radius: 1rem;
}

@media only screen and (max-width: 500px){
    .carousel {
        height: calc(100vw * 0.9);
        width: 90%;
    }
}
